* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #3f2d46;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #3f2d46;
    max-height: 140px;

}

.logo {
    cursor: pointer;
    background-color: #3f2d46;
    height: 15%;
    width: 7%;
    margin-right: auto;
}

.nav__links {
    list-style: none;
    background-color: #3f2d46;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: aqua;
}

button {
    margin-left:30px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}